body {
    margin: 0px;
    overflow:hidden;
}
#header {
    position: relative;
    display: block;
    margin: 0px;
    width: 100%;
    height: 5vh;
    vertical-align: text-bottom;
}

#header-content {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}

#tetris-container {
    display: block;
    margin: 0px;
    width: 100%;
    height: 90vh;
    background-color: black;
    text-align: center;
}
#footer {
    display: block;
    margin: 0px;
    width: 100%;
    height: 5vh;
    border: 0px solid darkred;
    text-align: center;
}